%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title Shopify Sinatra Bootstrap | Home
  %body
    %h1 Home
    %p The homepage for the Shopify Sinatra Bootstrap. You should only be able to see this page if you're logged in.